<h1>Who is in space right now? </h1>

<p >Here are the people currently in space! </p>

<ul class="astronautul">
<% data["people"].each do |person| %>
    <li class="astronautli"> <%= person['name'] %> is flying on the <%= person['craft'] %> <%= person['craft'] == "ISS" ? "ðŸ›°ï¸" : "ðŸš€" %> </li>

    <% end %>
 </ul>



